.login-card-title {
    color: $mat-colour-A400;
    margin: 10px 0 10px 0;
    font-size: x-large;
}

.login-card-actions {
    display: inline-block !important;

}

.login-card-actions button span {
    font-size: 1.2rem;
}

.login-card-content {
    padding-bottom: 0 !important;
}

.login-card-content label {
    font-size: 1.5rem;
}

.login-card-content input {
    font-size: 1.5rem;
}