.nav-drawer-user-img {
   border-radius: 60%;
   height:150px;
   width:150px;
   object-fit:cover;
   margin-left:15px;
   margin-top: 15px;
}

.nav-drawer-user-name {
   font-size: large;
}

.menu-list-item-text {
   font-size: medium !important;
}

.MuiTypography-subheading-96 {
   font-size: 1.75ren !important;
}