.register {
    display: grid;
    justify-items: center;
    align-items: center;
    height: calc( 100vh - 60px );
}

.register-card {
    text-align: center;
    align-items: center;
    min-width: 200px;
    width:500px;
    max-width: 95vw;
}

.register-stepper {
    min-width: 200px;
    margin-right: 20px !important;
    
}

.register-button {
    margin-top: 20px;
    margin-right: 20px;
}

.register-actionsContainer {
    margin-bottom: 15px;
    margin-top:20px;
}

.register-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
}

.register-textfield {
    justify-self:center;
    margin-left: 15px !important; 
    margin-right: 15px !important;
    max-width: 100% !important;
    min-width:200px !important;
    font-size: small !important;
    margin: 0 0 10px 6px !important;
}

// .MuiInputBase-root-209 {
//     position: initial !important;
// }

// .MuiInputBase-input-426 {
//     font-size:small !important;
// }

.login-card-actions button span {
    font-size: 1.2rem;
}

.login-card-content {
    padding-bottom: 0 !important;
}

.register-textfield label {
    font-size: 1.5rem;
}

.register-textfield input {
    font-size: 1.5rem;
}