.resource-home{
    padding: 5px 24px 0px 24px;
}

.resource{
    display: flex;
    flex-direction: column;
    
}

.resource-header{
    margin-bottom: 15px !important;
}

.resource-home-drawer-button {
    position: fixed !important;
    left: 16px !important;
    color: $mat-colour-A400 !important;
}

.resource-list-item{
    display: flex !important;
    flex-direction: row !important;
    align-items: stretch !important;
}

.resource-list-item-link{
    flex:6 !important;
    width: inherit !important;
}

.resource-list-item-actions{
    flex:1 !important;
    display: flex !important;
    flex-direction: column !important;
    width: inherit !important;
    justify-content: right !important;
}
.resource-list-item-actions IconButton{
    flex:1 !important;
    padding: 4px !important;
    width: fit-content !important;
    text-align: right !important;
}

.resource-popover{
    padding: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resource-popover *{
    flex: 1;
    text-align: center;
}

.question-item{
    display: flex !important;
    flex-direction: column;
    height:fit-content;
    width:100%;
    justify-content: stretch;
    margin: auto;
    margin-bottom: 15px;
}

.question-question{
    flex: 3;
    

    display: flex !important;
    flex-direction: row;
}

.question-question-img{
    flex:3;
    align-items: center;

}

.question-question-img img{
    object-fit: cover;
    border-radius: 60%;
}


// .question-question-img img{
//     border-radius: 60%;
//     height:40px;
//     width:40px;
//     object-fit:cover;
// }

.question-question-text{
    flex: 12;
    text-align: left;
}
.question-question-actions{
    flex:1 !important;
    display: flex !important;
    flex-direction: column !important;
    width: inherit !important;
    justify-content: right !important;
}
.question-question-actions IconButton{
    flex:1 !important;
    padding: 4px !important;
    width: fit-content !important;
    text-align: right !important;
}


.question-answers{
    flex: 2;
}

.question-footer{
    flex:1;
}

.answer-item{
    display: flex !important;
    flex-direction: row;
}

.answer-user{
    flex: 1;
    display: flex !important;
    flex-direction: column;
}

.answer-user-img{
    align-items: center;
    height:inherit;
    width:inherit;
    flex:2;   

}
.answer-user-img img{
    object-fit: cover;
    border-radius: 60%;
}

.answer-user-img-name{
    flex:1;
}

.answer-answer{
    flex:12;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

}

.answer-answer-text{
    flex:4;
    text-align: left;
}

.answer-answer-footer{
    flex:1;
    text-align: right;

    display: flex;
    flex-direction: row;
}

.answer-answer-footer-owner-actions{
    flex:1;
    text-align: right;

    display: flex;
    flex-direction: row-reverse;
    margin-right: 16px;

}

.answer-answer-footer IconButton{
    flex:1;
}



// .group-member-list-item-div-img {
//     align-items: center;
//     flex: 1 !important;
//     margin-bottom: 8px !important;
// }
