$media-path: '../assets/media/';
$font-path: '../assets/fonts/';

$header-height: 7rem;
$footer-height: 4.8rem;

$app-color: #00b4d5;
$mat-colour-100: #f8bbd0;
$mat-colour-200: #f48fb1;
$mat-colour-300: #f06292;
$mat-colour-400: #ec407A;
$mat-colour-A400: #f50057;


$app-easing: cubic-bezier(0.35, 0.01, 0.77, 0.34);

$font-family-primary: "Roboto", "Helvetica", "Arial", sans-serif;
